<aside id="layout-menu" class="layout-menu menu-vertical menu">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <span class="text-primary"> </span>
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-3">BizEngine</span>
    </a>
    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto"
    >
      <i class="icon-base ti menu-toggle-icon d-none d-xl-block"></i>
      <i class="icon-base ti tabler-x d-block d-xl-none"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon icon-base ti tabler-smart-home"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/approval" class="menu-link">
        <i class="menu-icon icon-base ti tabler-checkbox"></i>
        <div data-i18n="Approvals">Approvals</div>
      </a>
    </li>

    <!-- Expenses & Budget -->
    <li class="menu-header small">
      <span class="menu-header-text" data-i18n="Expenses & Budget Control"
        >Expenses & Budget Control</span
      >
    </li>
    <li class="menu-item">
      <a href="/expenses" class="menu-link">
        <i class="menu-icon icon-base ti tabler-receipt"></i>
        <div data-i18n="Expenses">Expenses</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/budget" class="menu-link">
        <i class="menu-icon icon-base ti tabler-file-dollar"></i>
        <div data-i18n="Budget Control">Budget Control</div>
      </a>
    </li>

    <!-- Academy menu start -->

    <!-- Audit Trail -->
    <li class="menu-item">
      <a href="/audit" class="menu-link">
        <i class="menu-icon icon-base ti tabler-history"></i>
        <div data-i18n="Audit Trail">Audit Trail</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/report" class="menu-link">
        <i class="menu-icon icon-base ti tabler-chart-bar"></i>
        <div data-i18n="Report & BI">Report & BI</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/fromBuilder" class="menu-link">
        <i class="menu-icon icon-base ti tabler-forms"></i>
        <div data-i18n="From Builder">fromBuilder</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/userManagement" class="menu-link">
        <i class="menu-icon icon-base ti tabler-users"></i>
        <div data-i18n="User Management">User Management</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/approve_type" class="menu-link">
        <i class="menu-icon icon-base ti tabler-list-check"></i>
        <div data-i18n="Approve Type">Approve Type</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/branches" class="menu-link">
        <i class="menu-icon icon-base ti tabler-building-store"></i>
        <div data-i18n="Branches">Branches</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/setting" class="menu-link">
        <i class="menu-icon icon-base ti tabler-settings"></i>
        <div data-i18n="Settings">Settings</div>
      </a>
    </li>
    <!-- Charts & Maps -->
    <!-- Roles list -->
    <li class="menu-item">
      <a href="/roles" class="menu-link">
        <i class="menu-icon ti tabler-users"></i>
        <div data-i18n="Roles">Roles</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/CostCenter" class="menu-link">
        <i class="menu-icon icon-base ti tabler-building-bank"></i>
        <div data-i18n="Cost Center">Cost Center</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/AccountCodeGroup" class="menu-link">
        <i class="menu-icon icon-base ti tabler-users"></i>
        <div data-i18n="Account Code Group">Account Code Group</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/Expenses_table" class="menu-link">
        <i class="menu-icon icon-base ti tabler-receipt"></i>
        <div data-i18n="Expenses table">Expenses table</div>
      </a>
  </ul>
</aside>
